In [1]:
import numpy as np
import pandas as pd
from models import HistoricVolModel

/Users/tayo4pf/Library/CloudStorage/OneDrive-UniversityofCambridge/part-ii-dissertation/arm_venv/lib/python3.10/site-packages/py_lets_be_rational/numba_helper.py:10: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  return jit(*jit_args, **jit_kwargs)(fun)

In [2]:
model = HistoricVolModel("SPY", "2014-01-01", "2020-01-01", "2019-01-01", 21, 100, 50)
sims = model.simulation(21)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
model.options_pricing(sims, 1)

,Call Price ATM,Realized Call Value ATM,Put Price ATM,Realized Put Value ATM,Underlying Price
Date,,,,,
2019-02-01,3.733906,18.320709,9.886883,0.0,230.557465
2019-02-04,3.526117,25.573502,10.082169,0.0,225.055740
2019-02-05,5.067168,19.085709,8.800115,0.0,232.594101
2019-02-06,5.528211,16.919968,8.200221,0.0,234.428009
2019-02-07,4.730614,12.321243,8.146426,0.0,236.630600
...,...,...,...,...,...
2019-12-24,4.894062,11.072266,1.915288,0.0,290.568146
2019-12-26,4.905722,10.426086,2.012446,0.0,292.820068
2019-12-27,5.564761,9.687439,1.856840,0.0,293.483521
2019-12-30,6.036777,6.707886,1.499861,0.0,294.791718
2019-12-31,5.536743,8.533447,1.953803,0.0,293.698456